li {
  list-style-type: none;
}

:root {
  --primary-color: #000000;
  --secondary-color: #2196f3;
  --footer-color: white;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logoblue {
  color: var(--secondary-color);
}

.logoblack {
  color: var(--primary-color);
}

.contactsheader .emailheader .telheader:hover,
.contactsheader .emailheader .telheader:focus {
  color: blue;
}

.emailheader,
.telheader {
  color: #757575;
}

.nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.pages .nav:hover,
.pages .nav:focus {
  color: blue;
}

.buttonstudio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
}

.filters .button:hover,
.filters .button:focus {
  color: blue;
}

.contactsfooter .email .tel:hover,
.contactsfooter .email .tel:focus {
  color: blue;
}

.button {
  cursor: pointer;
}
