li {
  list-style-type: none;
}

:root {
  --primary-color: #000000;
  --secondary-color: #2196f3;
  --footer-color: white;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logoblue {
  color: var(--secondary-color);
}

.logoblack {
  color: var(--primary-color);
}

.contactsheader :hover,
.contactsheader :focus {
  color: var(--secondary-color);
}

.emailheader,
.telheader {
  color: #757575;
}

.nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.pages .nav:hover,
.pages .nav:focus {
  color: blue;
}

.buttonstudio {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06cm;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
}

.filtersbutton :hover,
.filtersbutton :focus {
  color: blue;
}

.button {
  cursor: pointer;
}

.title {
  font-family: Roboto;
  font-size: 44;
}

.discription > h2 {
  font-family: Roboto;
  font-size: 14;
  font-weight: bold;
}

.discription > h2 > h3 {
  font-family: Roboto;
  font-size: 14;
  font-weight: bold;
}

.discription > p {
  font-family: Roboto;
  font-size: 14;
  font-weight: regular;
  color: #757575;
}
